.hidden #callback_form {
  width: 381px;
  height: 242px;
  margin: auto;
  background-color: #fff;
  border: 1px transparent solid;
  position: relative;
  z-index: 9999; }
  .hidden #callback_form cb-title {
    text-align: center;
    color: #332c2c;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    padding-top: 10px; }
  .hidden #callback_form label {
    display: block;
    text-align: center; }
 .hidden #callback_form input {
    border: none;
    text-align: left;
    padding: 10px 80px 10px 10px;
    outline: 0;
    border: none;
    border-radius: 50px;
    margin-bottom: 5px; }
  .hidden #callback_form .button_wrapper {
    text-align: center;
    margin: 0 auto; }
  .hidden #callback_form .button_wrapper button{
    border: none;
    outline: 0;
    padding: 1px 53px;
  }
